* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item a, .navbar-brand {
    color: white !important;
}

.filtered {
    display: none !important;
}

a {
    float: end
}

table {
    box-sizing: border-box;
}